.filter-dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 4px 5px;
    border-radius: 6px;
    font-size: 12px;
    min-width: none;
    max-width: 200vh;
    float: right;
}

.filter-select {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
}

.filter-icon {
    font-size: 14px;
    color: #666;
}

.filters {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    justify-content: space-between; /* equal space between items */
    gap: 4px;
}

.kpi-header {
    display: flex;
    justify-content: space-between; /* equal space between items */
    align-items: center; /* vertically align (optional) */
    padding: 10px;
}
