/* Top navbar */

/* Second-level tabs */
.nav-tabs {
  margin-top: 0px; /* push below fixed navbar */
  display: flex;
  gap: 20px;
  background: #f9f9f9;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0px; /* sticks under navbar */
  z-index: 900;
  width: 100%;       /* fit screen */
  overflow-x: auto;  /* allow scrolling if tabs exceed width */
  box-sizing: border-box; /* include padding in width */
}

.tab {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  padding: 6px 0;
  transition: 0.2s;
}

.tab:hover {
  color: #6c63ff
}

.tab.active {
  color: #6c63ff;
  font-weight: bold;
  border-bottom: 2px solid #6c63ff;
}

/* Tab content */
.tab-content {
  padding: 20px;
}